<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>ChimpMail</title>
</head>
<body>
    <div id="title">
        <h1>MailChimp</h1>
        <h2>But Free!</h2>
        <form action="" method="POST">
           <input type="submit" name="submit" value="Login">
           <input type="submit" name="submit" value="Register">
           <input type="submit" name="submit" value="Logout">
           <input type="submit" name="submit" value="Delete">
        </form>
    </div>
</body>
</html>