<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
</head>
<body>
    <h1>Make a new post</h1>
    <h2>Hello {{user.username}} </h2>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.recipients.label }}
            {{ form.recipients }}
        </div>
        <div>
            {{ form.subject.label }}
            {{ form.subject }}
        </div>
        <div>
            {{ form.message.label }}
            {{ form.message }}
        </div>
        <div>
            {{form.submit}}
        </div>
        <div>
            {{email}}
        </div>
    </form>
    {% for error in form.errors.items() %} 
        {{error}}
    {% endfor %}
    <br>
    <a href="/dashboard/{{currentuser}}">Link to dashboard</a>
    <a href="/">Link To Home Page</a>
</body>
</html>